body{
    background-color: rgb(17, 17, 17);
}

img{
    width: 100%;
    margin-bottom: 1px;
    border-radius: 5px;
}

header{
    background-image: url(img/A.png);
    background-size: cover;
    height: 200px;
    margin-bottom: 10px;
}


.list{
    
    column-count: 4;
    column-gap: 5px;
}




@media (max-width: 600px){
    .list{
        width: 200;
        columns: 150px;
        column-gap: 5px;
    }

    header{
        
        height: 100px;
    }
}