body{
    background-color: rgb(17, 17, 17);
}

img{
    width: 100%;
    margin-bottom: 1px;
    border-radius: 5px;
}




.list{
    width: 200;
    columns: 400px;
    column-gap: 5px;
}

@media (max-width: 600px){
    .list{
        width: 200;
        columns: 150px;
        column-gap: 5px;
    }
}