* {
    box-sizing: border-box;
}



body{
    background-color: rgb(20, 20, 20);
    background-size: cover;
    margin: 0;    
}

section{
    margin-left: 20px;
    margin-right: 20px;
}

.navbar{
    position: fixed;
    top: 3%;
    right: 3%;
    width: 150px;
    z-index: 9999;
    transition: 0.5s;
}

/*.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/pngegg.png');
    background-size: 100px 100px;
    background-position: top left;
    background-repeat: repeat;
    z-index: 9999;
    pointer-events: none;
}*/

img{
    width: 100%;
    margin-bottom: 1px;
    border-radius: 5px;
}

header{
    background-image: url(img/josman-s-poster.jpg);
    background-size: cover;
    height: 200px;
    margin-bottom: x;
    border-radius: 5px;

}

.category{
    display: flex;
    justify-content: space-around;
}

.category a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    text-shadow: 0 0 10px rgba(105, 104, 104, 0.8), 0 0 20px rgba(0, 0, 0, 0.6);
}

.category .card{
    display: flex;
    justify-content: center;
    width: 1000px;
    padding: 330px 0px;
    border-radius: 0px;
    margin: 15px 2px;
    transition: 0.5s;
    background-size: cover;  /* Ensures the image covers the whole card */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    

}

.category .card:nth-child(1) {
    background-image: url('img/lafeve.png');
}

.category .card:nth-child(2) {
    background-image: url('img/untitleqdqsdd.png');
}

.category .card:nth-child(3) {
    background-image: url('img/fqsd.png');
}

.category:hover .card {
    filter: grayscale(0.8) blur(1px);
}

.category .card:hover {
    filter: none; /* Remove grayscale effect */
}



.list{
    margin-left: 20px;
    margin-right: 20px;
    column-count: 3;
    column-gap: 5px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Or space-between */
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden; /* Prevent content from overflowing */
    max-width: 100%;
}

.btn{
    padding: 0.8em 1.5em;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 200ms ease-in-out;
}

.bug-text{
    user-select: none;
    width: 9em;  
}



@media (max-width: 1000px){


    body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .category{
        margin-top: 100px;
    }
    .category .card{

        display: flex;
        justify-content: center;
        width: 100%;
        padding:150px 0px;
        border-radius: 0px;
        margin: 2px 2px;
        transition: 0.5s;
        background-size: cover;  /* Ensures the image covers the whole card */
        background-position: center;  /* Centers the image */
        background-repeat: no-repeat; /* Prevents tiling */
    
    }
    .navbar{
        position: fixed;
        top: 3%;
        right: 3%;
        width: 100px;
        z-index: 9999;
        transition: 0.5s;
    }
}

@media (max-width: 600px){

    .category .card:nth-child(1) {
        background-image: url('img/lafeve.png');
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    }
    
    .category .card:nth-child(2) {
        background-image: url('img/untitleqdqsdd.png');
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    }
    
    .category .card:nth-child(3) {
        background-image: url('img/fqsd.png');
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    }

    .btn{
        padding: 0.5em 0.2em;
    }
    .list{

        columns: 150px;
        column-gap: 5px;
        margin: 0;
    }
    section{
        margin-left: 0px;
        margin-right: 0px;
    }

    header{
        height: 100px;
    }
    .category{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .category .card{
        display: flex;
        justify-content: center;
        width: auto;
        padding:100px 0px;
        border-radius: 0px;
        margin: -10px 0px;
        transition: 0.5s;
        background-size: cover;  /* Ensures the image covers the whole card */
        background-position: center;  /* Centers the image */
        background-repeat: no-repeat; /* Prevents tiling */
    
    }
    
    .navbar{
        position: fixed;
        top: 3%;
        right: 3%;
        width: 50px;
        z-index: 9999;
        transition: 0.5s;
    }

}